converters/s3-server-access-log/statemachine.asl.json
{
  "Comment": "aws-logs-converter for S3 Access Logs on EMR",
  "StartAt": "Start EMR Job",
  "States": {
    "Start EMR Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun",
      "Parameters": {
        "Name.$": "States.Format('${JobName}-{}', $$.Execution.StartTime)",
        "ApplicationId": "${ApplicationId}",
        "ExecutionRoleArn": "${MyJobExecutionRoleARN}",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "${EmrScriptBucketUri}",
            "EntryPointArguments": [
              "--access-log-bucket",
              "${S3LogBucket}"
            ]
          }
        }
      },
      "ResultPath": "$.JobInfo",
      "Next": "CheckJobStatus"
    },
    "CheckJobStatus": {
      "Type": "Task",
      "Parameters": {
        "ApplicationId": "${ApplicationId}",
        "JobRunId.$": "$.JobInfo.JobRunId"
      },
      "Resource": "arn:aws:states:::aws-sdk:emrserverless:getJobRun",
      "ResultPath": "$.JobStatus",
      "Next": "IsJobComplete"
    },
    "IsJobComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.JobStatus.JobRun.State",
          "StringEquals": "SUCCESS",
          "Next": "JobSucceeded"
        },
        {
          "Or": [
            {
              "Variable": "$.JobStatus.JobRun.State",
              "StringEquals": "FAILED"
            },
            {
              "Variable": "$.JobStatus.JobRun.State",
              "StringEquals": "CANCELLING"
            },
            {
              "Variable": "$.JobStatus.JobRun.State",
              "StringEquals": "CANCELLED"
            }
          ],
          "Next": "JobFailed"
        }
      ],
      "Default": "WaitForJob"
    },
    "WaitForJob": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckJobStatus"
    },
    "JobSucceeded": {
      "Type": "Succeed"
    },
    "JobFailed": {
      "Type": "Fail",
      "Error": "JobFailed",
      "Cause": "The EMR job failed."
    }
  }
}